---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
    <p> 
      My interests are in all that relates to Statistics & Applied Artificial Intelligence. 
      I am an apprentice AI Engineer at <a href="https://www.aptiv.com/fr/aptiv-en-france" target="_blank">APTIV</a> working on automobile projects. Previously, I did an internship at 
      <a href="https://www.etis-lab.fr/" target="_blank">ETIS lab</a> where I worked on NLP applications of the <a href="https://www.cs.ucr.edu/~eamonn/MatrixProfile.html" target="_blank">Matrix Profile</a> time-series method.
      I also have experience as a Jr. Data Scientist and Android developer.
    </p> 
    <p>
      <!-- I hold a Master's Degree in AI & Data Science at <a href="https://dsti.school/" target="_blank">Data ScienceTech Institute</a>.-->
      I am currently finishing my Master's Degree in AI & Data Science at <a href="https://dsti.school/" target="_blank">Data ScienceTech Institute</a> in Paris, graduation class of 2025.
      Prior to that, I earned my Bachelor's Degree in Statistics & Data Analytics at the <a href="https://www.unicampania.it/" target="_blank">Seconda Università di Napoli</a>, where I was ranked among the top five students and, 
      as a result, awarded a merit scholarship to pursue a joint double Bachelor's Degree in Computer Science at the <a href="https://www.univ-spn.fr/" target="_blank">Université Sorbonne Paris Nord</a>. I also spent a year 
      at <a href="https://en.tsu.ru/" target="_blank">Tomsk State University</a> studying Software Engineering.
    </p>
    <p>
      Personally, I am a very curious person. I love learning about other people (in the anthropological sense), other cultures, other perspectives, other countries, etc, all the time. I also never hesitate to explore other intellectual domains of knowledge
      different than mine, as reflected in the variety of MOOCs I have taken across different subjects and topics. Though, <a href="https://en.wikipedia.org/wiki/Analytic_philosophy" target="_blank">Analytic Philosophy</a>
      remains a lifelong passion pursued in my free time—especially  <a href="https://en.wikipedia.org/wiki/Formal_epistemology" target="_blank">Formal Epistemology</a> as it interfaces with AI on several levels.
    <p>
    </p>
      As for hobbies, I still consider myself an amateur guitar player in the Bluegrass and Country Music traditions. I am also a big fan of Andalusian and Arabic music. My top favourite artists include Earl Scruggs, Charley Pride, Johnny Cash,
      Édith Piaf, Omar Metioui, and Fairuz. When it is sunny outside, I often go mountain biking, hiking, or kayaking !
    </p>
</div>

<!-- ========== PROJECTS ========== -->
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">SELECTED</div></li>
    <li><div class="button" data-ref="#projects-recent">RECENT</div></li>
    <li><div class="button" data-ref="#projects-old">OLD</div></li>
  </ul>

  <div class="tab-content">
    <!-- RECENT Projects Tab -->
    <div class="tab-pane" id="projects-recent">
      {% assign recent_projects = site.data.projects.projects | where: "status", "recent" %}
      {% if recent_projects.size == 0 %}
        <p>No recent projects found.</p>
      {% else %}
        {% for project in recent_projects %}
          {% assign index_modulo = forloop.index0 | modulo:3 %}
          {% if index_modulo == 0 %}
            <div class="row">
          {% endif %}

          <div class="four columns">
            <div class="project-container">
              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>
              <div class="project-caption">
                <b>{{ project.title }}</b>
              </div>
            </div>
          </div>

          {% if index_modulo == 2 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <!-- OLD Projects Tab -->
    <div class="tab-pane" id="projects-old">
      {% assign old_projects = site.data.projects.projects | where: "status", "old" %}
      {% if old_projects.size == 0 %}
        <p>No old projects found.</p>
      {% else %}
        {% for project in old_projects %}
          {% assign index_modulo = forloop.index0 | modulo:3 %}
          {% if index_modulo == 0 %}
            <div class="row">
          {% endif %}

          <div class="four columns">
            <div class="project-container">
              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>
              <div class="project-caption">
                <b>{{ project.title }}</b> <br/>
                {{ project.subtitle }}
              </div>
            </div>
          </div>

          {% if index_modulo == 2 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    <!-- SELECTED Projects Tab -->
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "status", "selected" %}
      {% if selected_projects.size == 0 %}
        <p>No selected projects found.</p>
      {% else %}
        {% for project in selected_projects %}
          {% assign index_modulo = forloop.index0 | modulo:3 %}
          {% if index_modulo == 0 %}
            <div class="row">
          {% endif %}

          <div class="four columns">
            <div class="project-container">
              <div class="project-image-container">
                <a href="{{ project.url }}">
                  <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                </a>
              </div>
              <div class="project-caption">
                <b>{{ project.title }}</b>
              </div>
            </div>
          </div>

          {% if index_modulo == 2 or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<!-- ========== CERTIFICATES ========== -->

<div class="docs-section" id="certificates">
  <h4>Certificates</h4>
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#certificates-professional">Professional</div></li>
    <li><div class="button" data-ref="#certificates-mooc">MOOCs</div></li>
  </ul>
  <div class="tab-content">
    <!-- <div class="tab-pane" id="certificates-mooc">
      {% assign mooc_certs = site.data.certificates.certificates | where: "status", "mooc" %}
      {% if mooc_certs.size == 0 %}
        <p>No MOOC certificates found.</p>
      {% else %}
        <ul>
          {% for cert in mooc_certs %}
            <li>
              <a href="{{ cert.url }}" target="_blank">{{ cert.title }}</a> — <span style="color:#666;font-size:1em;font-style:bold;">{{ cert.university }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div> -->
    <div class="tab-pane" id="certificates-mooc">
      {% assign mooc_certs = site.data.certificates.certificates | where: "status", "mooc" %}
      {% if mooc_certs.size == 0 %}
        <p>No MOOC certificates found.</p>
      {% else %}
        {% assign grouped_certs = mooc_certs | group_by: "subject" %}
        {% for group in grouped_certs %}
          <strong>{{ group.name }}</strong>
          <ul>
            {% for cert in group.items %}
              <li>
                <a href="{{ cert.url }}" target="_blank">{{ cert.title }}</a> — <span style="color:#666;font-size:1em;font-style:bold;">{{ cert.university }}</span>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    </div>

    <div class="tab-pane active" id="certificates-professional">
      {% assign professional_certs = site.data.certificates.certificates | where: "status", "professional" %}
      {% if professional_certs.size == 0 %}
        <p>No professional certificates found.</p>
      {% else %}
        <ul>
          {% for cert in professional_certs %}
            <li>
              <a href="{{ cert.url }}" target="_blank">{{ cert.title }}</a> — <span style="color:#666;font-size:1em;font-style:bold;">{{ cert.university }}</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>



<!-- ========== RESUME ========== -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p><a href={{ "/assets/cv/CV_EN.pdf" | prepend: site.baseurl }} target="_blank">English Resume</a> | <a href={{ "/assets/cv/CV_FR.pdf" | prepend: site.baseurl }} target="_blank">French Resume</a></p>
  
  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

